{{#workouts}}
<form class="workout-display">
  <fieldset>
    <div class="row">
      <div>
        {{> workout}}
      </div>
    </div>
    <input type="submit" class="delete-workout btn btn-default" id="{{@index}}" data-id="{{id}}" value="Delete">
    <input type="submit" class="edit-workout btn btn-default" id="{{@index}}" data-id="{{id}}" value="Update">
  </fieldset>
</form>
{{/workouts}}


<!-- this.attr(data id) -->
