$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  // background: url("~/img/Barbell.jpg") no-repeat;
  background: image-url("~/img/Arm-exercises-for-women.jpg") no-repeat;
  background-size: 25%;
  background-position: bottom left;
  background-attachment: fixed;
}



.modalButtons {
  text-align: center;
  margin: 100px auto;
}


#signUpSignIn {
  padding: 15px;
  font-size: 40px;
}
// .navButton {
//   margin: 0 1%;
//   width: 180px;
//   height: 40%;
// }

.modal-body {
  text-align: left;
}
//
//
.rightNavButton {
  display: inline-block;
  position: relative;
  float:right;
  padding: 5px 0;
  width: 150px;
  font-size: 16px;
  text-align: center;
  top: -175px;

}
//
// .newWorkoutButton {
//   float: center;
// }

.row-centered {
    text-align:center;
    margin: 30px;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
    margin-right:-4px;
}

.centerButtons {
  font-size: 30px;
  padding: 20px 15px;
  position: relative;
  top: -120px;
}

.form-group {
  margin: 10px 20px;
}

h4 {
  text-align: center;
}

.modal-title {
  font-size: 24px;
}

.workoutEditDeleteButtons {
  margin: 10px;
}


.gutter-5.row {
  margin-right: -5px;
  margin-left: -5px;
}

.gutter-5 > [class^="col-"],
.gutter-5 > [class^=" col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
