$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: url("~/img/Barbell.jpg") no-repeat;
  background-size: 100%;
}
